.barra{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
}
.navegacion{
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 3rem;
     &:last-of-type{
         margin-right: 0;
     }


    }
}